/* Space out content a bit */
body {
	padding-top: 20px;
	padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
	padding-right: 15px;
	padding-left: 15px;
}

/* Custom page header */
.header {
	padding-bottom: 20px;
	border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
}

/* Custom page footer */
.footer {
	margin-top: 3%;
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
	.container {
		max-width: 1000px;
	}
}
.container-narrow > hr {
	margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron { 
	height: 410px;
}
.jumbotron #guest-form {
	/*border-bottom: 1px solid #e5e5e5;*/
	text-align: center;
	transition: all 0.5s;
	opacity: 0;
	display: none;
}
.jumbotron #guest-form .input-group {
    width: 50%;
    margin: auto;
}
.jumbotron .btn {
	padding: 14px 24px;
	margin-top: 20px;
	font-size: 21px;
}
.jumbotron #chat, .jumbotron #logged-users-list {
    /*border: 1px solid rgba(0, 0, 0, 0.1);*/
    /*padding: 5px 0 0 0;*/
	display: none;
	margin-top: -20px;
	opacity: 0;
	transition: all 0.5s;
}

.jumbotron #logged-users-list {
	overflow-y: auto;
	overflow-x: hidden;
	height: 300px;
}

.jumbotron #logged-users-list p {
	font-size: 15px;
}

.jumbotron #messages-container {
	height: 300px;
	overflow: auto;
}

.jumbotron #message-form {
	margin-bottom: 1.5%;
}

.jumbotron #messages-container .pseudo {
	font-weight: bold;
	padding: 5px;
}

.jumbotron #messages-container .status {
	font-size: 12px;
    font-style: italic;
}

.jumbotron #messages-container div {
    padding: 5px 0px;
}

.jumbotron #messages-container div:nth-child(even){
    background-color: rgba(0, 0, 0, 0.1);
}

/* Supporting marketing content */
.marketing {
	margin: 40px 0;
}
.marketing p + h4 {
	margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	/* Remove the padding we set earlier */
	.header,
	.marketing,
	.footer {
		padding-right: 0;
		padding-left: 0;
	}
	/* Space out the masthead */
	.header {
		margin-bottom: 30px;
	}
	/* Remove the bottom border on the jumbotron for visual effect */
	.container .jumbotron {
		border-bottom: 0;
		padding-right: 0;
		padding-left: 35px;
		padding-top: 53px;
	}
}

@media (max-width: 992px) {
	.jumbotron #logged-users-list{
		display: none !important;
	}

	.container .jumbotron { 
		padding-right: 35px;
		padding-top: 20px;
	}
}
